.contactForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.textLabel {
  font-size: .75rem;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 5px;
}

.contactForm input {
  padding: .5rem 0;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.contactForm textarea {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  height: 15rem;

}

.neuomorphism {
  background-color: rgba(0,0,0,0);
  box-shadow: 1px 1px 3px 0px inset darkgray, -3px -3px 3px 0 inset white;
}

#submit {
  margin-top: 2rem;
  font-weight: 700;
  background-color: rgb(49, 49, 49);
  color: whitesmoke
}

h1 {
  font-size: 4rem;
  font-family: var(--font-headings);
}

@media (max-width: 500px) {
  .contactForm {
    width: 100%;
  }
}