
h1 {
  font-size: 4rem;
  font-family: var(--font-headings);
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
}



.items {
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 1rem;
  
}

.items a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons {
  width: 3rem;
  margin-right: 2rem;
}

.neuomorphism {
  background-color: rgba(0,0,0,0);
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px inset darkgray, -3px -3px 3px 0 inset white;
}

h4 {
  color: black;
  font-family: var(--font-headings);
  font-size: 1.2rem;
  font-weight: normal;
  word-break: break-word;
  padding-right: 1rem;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  .icons {
    margin-right: 1rem;
  }

}