h1 {
  font-size: 4rem;
  font-family: var(--font-headings);
  text-transform: uppercase;
}


.projects-container {
  width: 100%;
  margin-top: 2rem;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
}

.category-select {
  font-weight: 800;
  padding: 1rem;
  margin: 1rem 1rem;
  border: 1px solid var(--highlight-color);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 3px 3px 0px var(--highlight-color);
}

.category-select:hover {
  background-color: var(--highlight-color);
  color: white;
}

.category-select:focus {
  outline: white solid 1px;
}

.source-link {
  padding: 0.25rem 0.5rem;
  margin-right: 1rem;
  color: var(--highlight-color);
  font-weight: 700;
  border: 1px solid var(--highlight-color);
}

#case-study {
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
}

#case-study:hover {
  cursor: pointer;
}

.demo-link {
  padding: 0.25rem .5rem;
  background-color: var(--highlight-color);
  font-weight: 700;
  color: white;
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  align-items: baseline;
}

.project-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.project-heading {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 2rem;
}

.project-text {
  max-width: 40%;
  flex-grow: 1;
}

.project-text h2 {
  margin-top: 0px;
}

.project-text h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.project-text ul {
  margin-top: 0; 
}

.project-text ul li{
  list-style: circle;
}

.project-pic {
  max-width: 50%;
  flex-grow: 1;
  padding-left: 3rem;
  overflow: hidden;
}

.project-pic img {
  width: 100%;
  box-shadow: 0px 0px 10px 0px darkgray;
}


.main-blurb p {
  font-size: 1.2rem;
  margin-top: 0px;
}

.modal-container {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 5rem 5rem;
  position: fixed;
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.modal-content {
  background-color: white;
  border: 1px solid var(--highlight-color);
  padding: 1rem 1rem;
  height: 80vh;
  max-width: 900px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.toggle-modal {
  padding: .5rem 1rem;
  margin: 1rem 1rem;
}

.modal-content .toggle-modal {
  align-self: flex-end;
  border: 1px solid lightgray;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-content img {
  width: 50%;
  border: 1px solid lightgray;
  align-self: center;
}

.modal-content h2, .modal-content h3 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal-content .toggle-modal:hover {
  border: 1px solid var(--highlight-color);
  color: var(--highlight-color)
}

@media (max-width: 1000px) {
  .project-pic {
    max-width: 100%;
    padding-left: 0px;
    order: 1;
  }

  .project-text {
    max-width: 100%;
    order: 2;
  }

  .modal-content img {
    width: 90%;
    border: 1px solid lightgray;
    align-self: center;
  }
}

