h1 {
  font-size: 4rem;
  font-family: var(--font-headings);
}

h2 {
  font-size: 2rem;
  text-transform: lowercase;
  font-family: var(--font-headings);
  text-decoration: underline;
}

.resumeWrapper {
  max-width: 800px;
}

.learningList {
  padding-left: 1rem;
}

.learningList li {
  list-style: circle;
  padding-bottom: 0.75rem;
}

.learningList li a {
  color: black;
}

.learningList li a:hover {
  text-decoration: underline;
  color: var(--highlight-color)
}
