
header {
  margin: 0;
  padding: 0 2rem;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-headings);
  text-transform: uppercase;
  background-color: rgb(49, 49, 49);
}

header ul {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgb(49, 49, 49);
  height: 10rem;
}

.layout {
  margin: 0 0rem;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10%;
  padding-bottom: 12rem;
}


@media (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0;
    padding-bottom: 10rem;
    margin: 0 1rem;
  }
}

.socials {
  height: 2rem;
  margin: 0 1rem;
}